{% extends "base.html" %}
{% load i18n %}

{% block header %}
<div class="window-tip label label-info">Loading...</div>
<div id="header" class="navbar">
    <div class="navbar-inner nav-header-top">
        <div class="container">
            <a href="/" class="brand"><img class="logo" src="/site_static/img/logo.png"></a>
        </div>
    </div>
    <div class="navbar-inner nav-header-bottom">
        <div class="container">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="wrapper" class="container container-fluid">
<h5>Please enter an email address to help us locate your iDentalk account.</h5>
<form class="form-inline" method="post" action=".">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<div class="mt10">
		<button type="submit" class="btn btn-gray">{% trans 'Submit Address' %}</button>
	</div>
</form>
</div>
{% endblock %}
