{% extends "base.html" %}
{% load i18n %}
{% block script %}
<script src="/site_static/js/js-build/libs/require.js" data-main="/site_static/js/js-build/scripts/common/index"></script>
{% endblock %}
{% block header %}
	{% include 'header.html' %}
{% endblock %}
{% block content %}
<div id="wrapper" class="container container-fluid">
<form method="post" action="." class="require-form">{% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-blue" type="submit">{% trans 'Save' %}</button>
</form>
</div>
{% endblock %}
