<div data-role="content">
	<div class="row-fluid">
		<div class="span5">
			<img src="{{BaseObj.imagebig.url}}" class="dentist-avatar thumbnail" />	
		</div>
		<div class="span7">
			<h4 class="d-name">
            	{{title_var}}{{myname}}{{objname}}
        	</h4>
        	<div class="muted small">
        		Follower:{{ Info.follower_count }}
        		Patient:{{ Info.patient_count }}
        	</div>
        	<div class="summary-wrap">
            	<div class="summary">
                {{BaseObj.summary}}
            	</div>               
        	</div>
        	<div class="d-info">
	            <div class="row-fluid">
	                <span class="info-title">Clinic:</span>
	                {% for WorkPlaceQuery in WorkPlaceQuery %}
	                {{WorkPlaceQuery.clinic_name}}
	                {% endfor %}
	            </div>
	            <div class="row-fluid">
	                <span class="info-title">Workmail:</span>
	                {{Info.workemail}}
	            </div>
	        </div>
		</div>
	</div>

	<div id="den_tab" data-role="navbar">
		<ul >
			<li class="">
				<a id="pro_btn" data-link="/ajax/d/{{object_id}}/profile/" data-ajax="false" class="type-choose ui-btn-active" href="#">Profile</a>
			</li>
	　　　 	<li class="">
				<a id="post_btn" data-link="/ajax/d/{{object_id}}/stream/getpost/" data-ajax="false" class="type-choose" href="#">Posts</a>
			</li>
			<li class="den-type">
				<a id="case_btn" data-link="/ajax/d/{{object_id}}/gallery/getcases/" data-ajax="false" class="type-choose" href="#">Gallery</a>
			</li>
	　　</ul>
	</div>

	<div id="profile" class="type-list hide">
		<div class="section field-row">
	        <h4 class="end-line">Field/Specialty:</h4>
	        <div id="den_field" class="den-pro-detail row-fluid"></div>
    	</div>
	    <div class="section degree-row">
	        <h4 class="end-line">Degree:</h4>
	        <div id="den_degree" class="den-pro-detail row-fluid"></div> 
	    </div>
	    <div class="section">
	        <h4 class="end-line">Work Location:</h4>
	        <div id="den_local" class="den-pro-detail"></div>
	    </div>
	</div>
	<div id="timeline" class="type-list hide">
		 <div id="msg_flow"></div>
	</div>
	<div id="gallery" class="type-list hide">
		<div id="gallery_list" class="clearfix"></div>
	</div>

</div>